.App {
  text-align: center;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.image-container {
  background-image: url('./assets/Banner-bg.png');
  background-size: cover; /* Use cover to ensure the image fills the space */
  background-position: center center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from tiling */
  /* Add a fixed height or aspect ratio if needed */
  height: 100vh; /* Make it exactly the viewport height for testing */
}

.shadow-only-sides {
  box-shadow:
    -10px 0 8px -2px rgba(0, 0, 0, 0.2),
    10px 0 8px -2px rgba(0, 0, 0, 0.2);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
